In [2]:
print("Hello world")

Hello world

In [3]:
Variable

variables only start with alphabets

SyntaxError: invalid syntax (Temp/ipykernel_3196/3266092802.py, line 3)

In [6]:
a=10
b=20
print(a)
print(a,b)
print(id(a))
print(id(b))

10
10 20
2698314410576
2698314410896

In [8]:
c=20
print(id(c))

2698314410896

In [9]:
A='Hello'
print(A)

Hello

In [10]:
_=10
print(_)

10

In [11]:
a1=5
print(a1)

5

In [12]:
1a=6
print(1a)

SyntaxError: invalid syntax (Temp/ipykernel_3196/4204721050.py, line 1)

In [13]:
a_b=15
print(a_b)

15

In [14]:
print('a_b')

a_b

In [15]:
@a=25
print(@a)

SyntaxError: invalid syntax (Temp/ipykernel_3196/472716551.py, line 1)

In [16]:
_a=25
print(_a)

25

In [18]:
a="Hello"
b="Net Tech India"
print(a+b)

HelloNet Tech India

In [19]:
print(a+" "+b)

Hello Net Tech India

In [20]:
c=20
print(c+30)

50

In [21]:
print(a+c)

TypeError: can only concatenate str (not "int") to str

In [24]:
d='50'
print(a+d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
a=10
print(a)
b="Aishwarya"
print(b)
c=Hello
print(c)

10
Aishwarya

NameError: name 'Hello' is not defined

In [2]:
a=1+2+3
print(a)

6

In [3]:
#this is a comment
print("Hello world!")

Hello world!

In [4]:
''' my name is aishwarya i am from udgir district taluka latur i am graducated in computer science'''
print("Hello world!")

Hello world!

In [5]:
a=10
print(type(a))

<class 'int'>

In [6]:
b=10.0
print(type(b))

<class 'float'>

In [7]:
c=10j
print(type(c))

<class 'complex'>

In [8]:
var="Welcome to nettech India"
type(var)

str

In [14]:
List=["apple","mango","banana",]
type(List)

list

In [20]:
Tuple=("apple","mango","grapes","chiku")
type(Tuple)

<class 'tuple'>

In [21]:
set={"apple","mango","banana"}
print(set)

{'mango', 'apple', 'banana'}

In [23]:
Dictionary={"Name":"aishwarya"}
print(type(Dictionary))

<class 'dict'>

In [24]:
x=25
y=20

z=x > y
print(z)
print(type(z))

True
<class 'bool'>

In [25]:
numbers=range(1,2,1)
print(type(numbers))

<class 'range'>

In [26]:
msg="Hello world"
print(msg)

Hello world

In [28]:
my_name=input("Enter Name:")
print("My name is",my_name)

Enter Name:aish
My name is aish

In [29]:
my_number=input("Enter number:")
print("My number is",my_number)

Enter number:23
My number is 23

In [30]:
print(type(my_number))

<class 'str'>

In [31]:
my_number=int(input("Enter the number:"))
print("Number is",my_number)

Enter the number:12
Number is 12

In [32]:
print(type(my_number))

<class 'int'>

In [33]:
x=10
y=40
print(x+y)

50

In [34]:
x=10
y=20
print(y-x)

10

In [35]:
x=2
y=4
print(x*y)

8

In [36]:
x=4
y=2
print(x/y)

2.0

In [37]:
x=2.2
y=4
print(y/x)
print(y//x)

1.8181818181818181
1.0

In [38]:
x=15
y=4
print(x % y)

3

In [39]:
num=2
print(num ** 2)

4

In [40]:
num1 = 3
print(num1 ** 2)

9

In [1]:
x=10
y=5
print(x > y)
print(x < y)

True
False

In [2]:
print(x == y)
print(x == 10)

False
True

In [3]:
print(x != y)
print(10 != y)

True
True

In [4]:
print(x >= y )
print(10 <= x)

True
True

In [5]:
a=4
b=2
a += b
print(a)

6

In [6]:
a = 4
a -= 2
print(a)

2

In [7]:
a = 4
a *= 2
print(a)

8

In [8]:
a = 4
a **= 2
print(a)

16

In [9]:
a = 4
a /= 2
print(a)

2.0

In [10]:
a = 5
a %= 2
print(a)

1

In [11]:
a = 4
a //= 2
print(a)

2

In [12]:
x=5

print(x > 3 and x < 10)

True

In [13]:
print(10 and 20)
print(10 and 5)
print(100 and 300)

20
5
300

In [14]:
x = 5

print(x > 3 or x < 4)

True

In [15]:
print(10 or 20)
print(10 or 5)

10
10

In [16]:
print(100 or 300)

100

In [17]:
x = 5
print(not(x > 3))

False

In [18]:
print(not 10)
print(not 0)

False
True

In [19]:
x =["apple" ,"banana"]

print("banana" in x)

True

In [20]:
x =["apple" ,"banana"]

print("banana" not in x)

False

In [22]:
x = 10
y = 11
z = 10
print(x is y)
print(x is  z)

False
True

In [23]:
print(x is not y)
print(x is not z)

True
False

In [24]:
a = 7
b = 4
c = 5
print(a & b)
print(a & c)
print(b & c)

4
5
4

In [25]:
a = 7
b = 4
c = 5
print(a | b)

7

In [26]:
print(a | c)
print(b | c)

7
5

In [27]:
a = 7
b = 4
c = 5
print(a ^ c)
print(b ^ c)

2
1